/* Custom CSS for sticky footer
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

.container-fluid {
    /*width: auto;*/
    /*max-width: 680px;*/
}
.container-fluid .credit {
    margin: 20px 0;
}

/* Sticky footer styles
-------------------------------------------------- */

html,
body {
    height: 100%;
/* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
#push,
#footer {
    height: 60px;
}
#footer {
    /*background-color: #f5f5f5;*/
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
}
}


/* custom CSS for BootPuki */
body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Hiragino Kaku Gothic Pro', 'ヒラギノ角ゴ Pro W3', メイリオ, Meiryo, 'ＭＳ Ｐゴシック', Helvetica, Arial, Verdana, sans-serif;
}
.navbar{
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body > .navbar {
    font-size: 13px;
}

h1, h2, h3, h4, h5, h6 {
    padding-left: 5px;
}

a.brand:hover {
    background-color: transparent;
}

p.changed-linkcolor > a {
    color: #999;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
p.changed-linkcolor > a:hover {
    background-color: transparent;
    color: white;
    text-decoration: none;
}

blockquote { margin-left:32px !important; }

.footer {
    padding: 70px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}
.footer p {
    margin-bottom: 0;
    color: #777;
}
.footer-links {
    margin: 10px 0;
}
.footer-links li {
    display: inline;
    margin-right: 10px;
}

i {
    cursor: pointer;
}

td > form {
    margin: 0px;
}

.thumbnail .btn-toolbar {
margin-top: 15px;
text-align: right;
}